.video-preview{
    width: 300px;
    display: inline-block;
}

.thumbnail{
    width: 300px;
    display: block;
}

.video-info{
    width: 300px;
    display: block;
}

.profile-picture{
    width: 50px;
    display: inline-block;
}

.video-title{
    width: 200px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: top;
}