.thumbnails{
    width: 300px;
    display: block;
}

.search-bar{
    padding-right: 132px;
    margin-left: 20px;
    display: block;
}

.video-preview{
    margin-left: 20px;
    display: inline-block;
}